<%= link_to user_post_path(user_id: post.author.id, id: post.id), class: "post_partial" do %>
  <div class="post_details_container">
    <h2 class="post_title"> Post # <%= post.id %>: <%= post.title %> </h2>
    <% if (show_full_post) %>
      <p class="post_text"><%= post.text %></p>
    <% else %>
      <p class="post_text"><%= truncate(post.text, length: 250, omission: "...") %></p>
    <% end %>
    <div class="post_stats">
      <p>Comments: <%= post.comments_counter || 0 %></p>
      <p>Likes: <%= post.likes_counter || 0 %></p>
    </div>
  </div>
<% end %>